
<div class = "bg">
<div class="jumbotron">
  <h3 class =" text ">Your furniture is old, ours is older</h3>>
  <p><a class = "btn btn-primary btn-lg blue-checkout-more" href="/list" role="button"> Check Out Our Products</a> </p>
</div>
</div>
